<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index users</title>
</head>
<body>
    <h1>Daftar User</h1>
    <ul>
        <% if(users.length>0) { %>
        <% users.forEach(function(user){ %>
        <li><%=user.nama%></li>
        <% }); %>
        
        <% } else{  %> 
         <li>Data anda masih kosong</li>
        <% } %> 

        
    </ul>
</body>
</html>